* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

%content-style {
    margin-bottom: 7rem;
}

%paragraph-style {
    line-height: 1.5;
    letter-spacing: 1px;
    color: #424242;

    font: {
        size: 2rem;
        weight: 400;
    }
}

.email-body {
    background: #fff;
    padding: 0 10px;

    .pre-header {
        background-color: #fff;
        color: #fff;
        font-size: 0px;
    }

    .email-container {
        max-width: 800px;
        font-family: 'Roboto', sans-serif;
        margin: 0 auto;
        padding: 0 10px;

        .email-header {
            @extend %content-style;
            display: flex;
            align-items: center;

            .image-wrap {
                flex-grow: 2;
    
                img {
                    max-width: 230px;
                }
            }
    
            .email-title {
                flex-grow: 1;
                text-align: center;
                height: 180px;
                line-height: 180px;
    
                div {
                    background-color: #0A0A0A;
                    align-self: flex-end;
                    height: 180px;
    
                    p {
                        color: white;
                        font-size: 40px;
                        text-transform: uppercase;
                        font-weight: 900;
                        letter-spacing: 3px;
                    }
                }
            }
        }

        .email-content {
            @extend %content-style;

            p {
                @extend %paragraph-style;

                img {
                    display: inline-block;
                    margin-bottom: -10px;
                    *display: inline;
                    *zoom: 1; 

                    &.hug {
                        margin-bottom: -30px;
                    }
                }

                .welcome {
                    display: inline-block;
                    text-align: center;
                    margin-top: 2rem;
                    color: #212121;

                    font: {
                        weight: 700;
                        size: 5rem;
                    }
                }
            }
        }

        .email-closing {
            @extend %content-style;

            .image-wrap {
                max-width: 180px;
                margin-bottom: 1.5rem;
            }

            p {
                @extend %paragraph-style;
                padding-left: 1rem;
                color: #6D7278;
            }
        }

        .email-footer {
            margin-bottom: 2rem;
            padding: 4rem;
            background-color: #0A0A0A;
            color: #fff;

            .image-wrap {
                margin-bottom: 2rem;
                text-align: center;

                img {
                    max-width: 120px;
                }
            }

            .contact-info {
                p {
                    @extend %paragraph-style;
                    color: #6D7278 !important;
                    text-align: center;
                    font-size: 0.8rem;
                }
            }
        }

        .social-media {
            @extend %content-style;
            text-align: center;

            a {
                text-decoration: none;

                img {
                    display: inline-block;
                    width: 3rem;
                }

                &.insta {
                    margin-right: 1rem;
                }
            }
        }
    }
}

